({:band_name "LINEAGEQA",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill 0,
  :data_mask {},
  :data_shape [100 100],
  :data_type "UINT8",
  :data_units "index",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "LINEAGEQA" "lineage" "qa"),
  :ubid "LANDSAT_4/TM/LINEAGEQA",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "PIXELQA",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill 1,
  :data_mask
  {0 "fill",
   1 "clear",
   2 "water",
   3 "cloud shadow",
   4 "snow",
   5 "cloud",
   6 "cloud confidence",
   7 "cloud confidence",
   8 "unused",
   9 "unused",
   10 "unused",
   11 "unused",
   12 "unused",
   13 "unused",
   14 "unused",
   15 "unused"},
  :data_shape [100 100],
  :data_type "UINT16",
  :data_units "quality/feature classification",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "PIXELQA" "pixel" "qa"),
  :ubid "LANDSAT_4/TM/PIXELQA",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SOZ4",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -32768,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "degrees",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SOZ4"),
  :ubid "LANDSAT_4/TM/SOZ4",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SOA4",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -32768,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "degrees",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SOA4"),
  :ubid "LANDSAT_4/TM/SOA4",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SEZ4",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -32768,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "degrees",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SEZ4"),
  :ubid "LANDSAT_4/TM/SEZ4",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SEA4",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -32768,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "degrees",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SEA4"),
  :ubid "LANDSAT_4/TM/SEA4",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "TAB1",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "TAB1" "blue" "ta"),
  :ubid "LANDSAT_4/TM/TAB1",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "TAB2",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "TAB2" "green" "ta"),
  :ubid "LANDSAT_4/TM/TAB2",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "TAB3",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "TAB3" "red" "ta"),
  :ubid "LANDSAT_4/TM/TAB3",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "TAB4",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "TAB4" "nir" "ta"),
  :ubid "LANDSAT_4/TM/TAB4",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "TAB5",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "TAB5" "swir1" "ta"),
  :ubid "LANDSAT_4/TM/TAB5",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "TAB7",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "TAB7" "swir2" "ta"),
  :ubid "LANDSAT_4/TM/TAB7",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "RADSATQA",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill 1,
  :data_mask
  {0 "Data Fill Flag (0 = valid data, 1 = invalid data)",
   1
   "Band 1 Data Saturation Flag (0 = valid data, 1 = saturated data)",
   2
   "Band 2 Data Saturation Flag (0 = valid data, 1 = saturated data)",
   3
   "Band 3 Data Saturation Flag (0 = valid data, 1 = saturated data)",
   4
   "Band 4 Data Saturation Flag (0 = valid data, 1 = saturated data)",
   5
   "Band 5 Data Saturation Flag (0 = valid data, 1 = saturated data)",
   6
   "Band 6 Data Saturation Flag (0 = valid data, 1 = saturated data)",
   7
   "Band 7 Data Saturation Flag (0 = valid data, 1 = saturated data)"},
  :data_shape [100 100],
  :data_type "UINT8",
  :data_units "bitmap",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "RADSATQA"),
  :ubid "LANDSAT_4/TM/RADSATQA",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "BTB6",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "temperature (kelvin)",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "BTB6" "thermal"),
  :ubid "LANDSAT_4/TM/BTB6",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRB1",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRB1" "blue" "sr"),
  :ubid "LANDSAT_4/TM/SRB1",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRB2",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRB2" "sr" "green"),
  :ubid "LANDSAT_4/TM/SRB2",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRB3",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRB3" "sr" "red"),
  :ubid "LANDSAT_4/TM/SRB3",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRB4",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRB4" "nir" "sr"),
  :ubid "LANDSAT_4/TM/SRB4",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRB5",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRB5" "sr" "swir1"),
  :ubid "LANDSAT_4/TM/SRB5",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRB7",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRB7" "sr" "swir2"),
  :ubid "LANDSAT_4/TM/SRB7",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRATMOSOPACITYQA",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill -9999,
  :data_mask {},
  :data_shape [100 100],
  :data_type "INT16",
  :data_units "reflectance",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRATMOSOPACITYQA"),
  :ubid "LANDSAT_4/TM/SRATMOSOPACITYQA",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"}
 {:band_name "SRCLOUDQA",
  :chip_x 3000,
  :chip_y -3000,
  :data_fill nil,
  :data_mask
  {0 "dark dense vegetation",
   1 "cloud",
   2 "cloud shadow",
   3 "adjacent to cloud",
   4 "snow",
   5 "land/water"},
  :data_shape [100 100],
  :data_type "UINT8",
  :data_units "quality/feature classification",
  :instrument "TM",
  :name "conus",
  :pixel_x 30.0,
  :pixel_y -30.0,
  :satellite "LANDSAT_4",
  :shift_x 2415.0,
  :shift_y -195.0,
  :tags ("LANDSAT" "4" "TM" "SRCLOUDQA"),
  :ubid "LANDSAT_4/TM/SRCLOUDQA",
  :wkt
  "PROJCS[\"Albers\",GEOGCS[\"NAD83\",DATUM[\"North_American_Datum_1983\",SPHEROID[\"GRS 1980\",6378137,298.2572221010042,AUTHORITY[\"EPSG\",\"7019\"]],AUTHORITY[\"EPSG\",\"6269\"]],PRIMEM[\"Greenwich\",0],UNIT[\"degree\",0.0174532925199433],AUTHORITY[\"EPSG\",\"4269\"]],PROJECTION[\"Albers_Conic_Equal_Area\"],PARAMETER[\"standard_parallel_1\",29.5],PARAMETER[\"standard_parallel_2\",45.5],PARAMETER[\"latitude_of_center\",23],PARAMETER[\"longitude_of_center\",-96],PARAMETER[\"false_easting\",0],PARAMETER[\"false_northing\",0],UNIT[\"metre\",1,AUTHORITY[\"EPSG\",\"9001\"]]]"})
